.form-box {
    padding : 25px;
    border : 0.8px solid #DADCE0;
    border-radius : 20px;
    background: white;
    box-shadow: 8px 8px 6px lightgray;
    border-color: #DC3545;
    color: #DC3545;
}

.sticky{
    position: fixed;
    height: 70vh;
    overflow-y: scroll;
}

.form-head {
    padding : 25px;
    border : 0.8px solid #DADCE0;
    border-radius : 20px;
    box-shadow: 8px 8px 6px lightgray;
    border-color: #DC3545;
    background: #DC3545;
    color: white;
}

.form-cal-bg{
    padding: 0px 25px;
}

.form-input {
    border: none;
    border-bottom: solid #a8a8a8b4;
    
}
span {
    color: red;
}

.form-format{
 padding: 20px 0px 0px 0px;
}

.require{
    color:red;
}

div.image {
    content:url(http://placehold.it/350x150);
}

body{
    
    background: #F1F1F1;
    padding-bottom: 10px;
    font-family: "Mitr", serif;
    
}

.button-shadow {
    box-shadow: 6px 6px 8px lightgray;
}

#main-container {
    overflow-x: hidden;
    height: 90vh;
}

#spinner {
    display: none;
    position: absolute;
    height: 90vh;
    width: 100vw;
    background: lightgray;
    opacity: 0.6;
    align-items: center;
}

.form-input-time{
    margin-left: 15px;
}

.otp-box{
   text-align: center;
   display: flex;
   flex-direction: column;
}

.car-plat-option {
    justify-content: space-between;
    width: 60%;
    height: 40px;
    align-items: center;
}

.modal-fade-cls {
    border : 0.8px solid #DADCE0;
    border-radius : 20px;
    border-color: #DC3545;
    color: #DC3545;
}

.car-plat-option-2 {
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.button-add-car {
    background-color: white;
    color: #DC3545;
    font-weight: bold;
    border-color: #DC3545;
    border-radius : 10px;
}

.optin-box-edit {
    padding : 5px;
    border : 0.8px solid #DADCE0;
    border-radius : 8px;
    background: white;
    box-shadow: 8px 8px 6px lightgray;
    font-weight: bold;
    border-color: #DC3545;
    color: #DC3545;
}

.label-bold{
    color: #DC3545;
    font-weight: bold;
}

.label-bold-center{
    color: #DC3545;
    font-weight: bold;
    text-align: center;
}

.label-bold-center-f1{
    color: #DC3545;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

.label-bold-center-f2{
    color: #DC3545;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

.cal-box{
    padding : 5px 25px;
    border : 0.8px solid #DADCE0;
    border-radius : 4px;
    box-shadow: 8px 8px 6px lightgray;
    font-size: xx-large;
    border-color: #DC3545;
    background: #DC3545;
    color: white;
    text-align: center;
}

.form-check-2 {
    /* display: block; */
    min-height: 1.5rem;
    padding-left: 2rem;
    margin-bottom: 0.125rem;
}

/* privacy policy */
.pp {
    padding-left: 20px;
    padding-right: 5px;
    background-color: white;
}

.pno{
    text-decoration: none;
    vertical-align: top;
    width: 20px;
}

.table-pp {
    padding-left: 20px;
}

td {
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
}

.tb-bt{
    text-align: center;
}

.sp-pp{
    padding-left: 10px;
    padding-right: 10px;
}

.sm-pp{
    font-size: 10;
}

/* .custom-radio:checked{
    background-color:rgb(253, 69, 69);
  } */