{% extends "base.html" %}
{% block style %}
<script src="https://getbootstrap.com/2.0.4/assets/js/bootstrap-tab.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Admin management</h1>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="onprocess-tab" data-toggle="tab" href="#onprocess" role="tab" aria-controls="onprocess" aria-selected="true">onprocess</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="confirm-tab" data-toggle="tab" href="#confirm" role="tab" aria-controls="confirm" aria-selected="false">confirm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="done-tab" data-toggle="tab" href="#done" role="tab" aria-controls="done" aria-selected="false">done</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="reject-tab" data-toggle="tab" href="#reject" role="tab" aria-controls="reject" aria-selected="false">reject</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="failed-tab" data-toggle="tab" href="#failed" role="tab" aria-controls="failed" aria-selected="false">failed</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="onprocess" role="tabpanel" aria-labelledby="onprocess-tab">
                <div class="card">
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Order no.</th>
                            <th scope="col">ชื่อผู้สั่ง</th>
                            <th scope="col">เวลาสั่งอาหาร</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in pro_orders_trans_list %}
                          <tr>
                              <td><a href="/delivery/admin/{{item.id}}">{{item.id}}</a></td>
                              <td>{{item.user.full_name}}</td>
                              <td>{{item.updated_at|date:"DATETIME_FORMAT"}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="confirm" role="tabpanel" aria-labelledby="confirm-tab">
              <div class="card">
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Order no.</th>
                          <th scope="col">ชื่อผู้สั่ง</th>
                          <th scope="col">เวลาสั่งอาหาร</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in confirm_orders_trans_list %}
                        <tr>
                            <td><a href="/delivery/admin/{{item.id}}">{{item.id}}</a></td>
                            <td>{{item.user.full_name}}</td>
                            <td>{{item.updated_at|date:"DATETIME_FORMAT"}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade show" id="done" role="tabpanel" aria-labelledby="done-tab">
            <div class="card">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Order no.</th>
                        <th scope="col">ชื่อผู้สั่ง</th>
                        <th scope="col">เวลาสั่งอาหาร</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in done_orders_trans_list %}
                      <tr>
                          <td><a href="/delivery/admin/{{item.id}}">{{item.id}}</a></td>
                          <td>{{item.user.full_name}}</td>
                          <td>{{item.updated_at|date:"DATETIME_FORMAT"}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="reject" role="tabpanel" aria-labelledby="reject-tab">
          <div class="card">
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Order no.</th>
                      <th scope="col">ชื่อผู้สั่ง</th>
                      <th scope="col">เวลาสั่งอาหาร</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in reject_orders_trans_list %}
                    <tr>
                        <td><a href="/delivery/admin/{{item.id}}">{{item.id}}</a></td>
                        <td>{{item.user.full_name}}</td>
                        <td>{{item.updated_at|date:"DATETIME_FORMAT"}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      <div class="tab-pane fade show" id="failed" role="tabpanel" aria-labelledby="failed-tab">
        <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Order no.</th>
                    <th scope="col">ชื่อผู้สั่ง</th>
                    <th scope="col">เวลาสั่งอาหาร</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in failed_orders_trans_list %}
                  <tr>
                      <td><a href="/delivery/admin/{{item.id}}">{{item.id}}</a></td>
                      <td>{{item.user.full_name}}</td>
                      <td>{{item.updated_at|date:"DATETIME_FORMAT"}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
          </div>
    </div>
</div>
{% endblock %}