{% extends 'base.html' %}
{% block style%}
<style>
body {
    background-color: rgb(238 238 238 / 60%);
}
.wrapper {
    box-shadow: 0px 0px 10px #afc0d9;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 1rem;
}
label{
    font-family: "Mitr", serif;
}
.fontm{
    font-family: "Mitr", serif;

}
</style>    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="card wrapper">
    <div class="card-body">
        <div class="card-header fontm" style="font-size: larger;">
            Order Information
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label>วันที่</label>
                <div>{{ordertrans.updated_at|date:'m/d/Y H:i:s'}}</div>
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">หมายเลขออเดอร์</label>
                <div>{{ordertrans.id}}</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label>สถานะ</label>
                 <div>
                {% if ordertrans.status == '2' %}
                <span class="badge badge-warning">รอยืนยันออเดอร์</span>
                {% elif ordertrans.status == '3' %}
                <span class="badge badge-success">อยู่ในระหว่างจัดส่ง</span>
                {% elif ordertrans.status == '4' %}
                <span class="badge badge-dark">ออเดอร์เสร็จสิ้น</span>
                {% elif ordertrans.status == '6' %}
                <span class="badge badge-danger">ออเดอร์ล้มเหลว</span>
                {% elif ordertrans.status == '7' %}
                <span class="badge badge-danger">ออเดอร์ถูกปฏิเสธ สาเหตุ : {{ordertrans.description}}</span>
                {% endif %}
                </div>
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ชื่อลูกค้า</label>
                <div>{{ordertrans.user.full_name}}</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">รูปแบบการชำระเงิน</label>
                <div>{{payment_method}}</div>
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">เบอร์โทรศัพท์</label>
                <div>{{ordertrans.user.mobile_no}}</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label">สถานที่จัดส่ง</label>
                    <div class="p-1">ชื่อสถานที่ : {{ordertrans.location_user.name}}</div>
                    <div class="p-1">ที่อยู่ : {{ordertrans.location_user.detail_1st}}</div>
                    <div class="p-1">รายละเอียดเพิ่มเติม : {{ordertrans.location_user.detail_2nd}}</div>
                    <div>    
                        <a href='{{url_map}}'>
                        <button type="button" class="btn btn-primary">
                            แผนที่
                        </button>
                        </a></div>
            </div>
        </div>
    </div>
    </div>
<div class="card wrapper">
    <div class="card-body">
<div class="card-header fontm mb-2" style="font-size: larger;">
    รายการจัดสั่ง
</div>
<div>
            {% for item in result %}
            <div class="fontm" style="font-size: large;">ร้าน {{item.name}}</div>
            <div class="mb-1 p-3">
            {% for detail in item.detail_list %}
                <div>
                    <label>- {{detail.name}}</label>
                    <label>จำนวน {{detail.quantity}}</label>
                    <label>ราคาทั้งหมด {{detail.price}} บาท</label>
                    <ul>
                        {% for subdetail in detail.details %}
                        <li> 
                            <label>{{subdetail.name}}</label>
                            <label>{{subdetail.on_top_price}} บาท</label>
                        </li>
                        {% endfor %}
                        {% if detail.description %}
                        <label>เพิ่มเติม : {{detail.description}}</label>
                        {% else %}
                        <label>เพิ่มเติม : -</label>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
                <div class="fontm">ราคารวมของร้าน: {{item.total_price_by_restaurant}} บาท</div>
            </div>
            <hr>
        {% endfor %}
            <div class="row fontm">
                <div class="col">รวมค่าอาหารทั้งหมด :</div>
                <div class="col text-end">{{total}} บาท</div>
            </div>
</div>
</div>
</div>

<div class="card wrapper">
    <div class="card-body">
    <div class="card-header fontm">
        เพิ่มเติม
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-6">
                <label class="mb-2" for="exampleFormControlInput1">ระยะทาง (กิโลเมตร)</label>
                <input type="number" step="any" class="form-control" value={{ordertrans.location_user.distance}} id="distance" name="distance" placeholder="ระยะทาง" onchange="onDistanceChange(this)">
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1">ค่าส่ง (บาท)</label>
                <input type="number" step="any" class="form-control" value={{ordertrans.location_user.distance_price}} id="distance_price" name="distance_price" placeholder="ค่าส่ง">
            </div>
        </div>
        <div class="form-group">
            <label class="mb-2"  for="exampleFormControlSelect1">รวมเป็นเงินทั้งหมด(ค่าอาหาร + ค่าส่ง)</label>
            <input type="number" step="any" class="form-control" id="all_price" name="all_price" value="0" disabled>
        </div>
        <div class="form-group">
                <label class="mb-2"  for="exampleFormControlSelect1">สถานะ</label>
                <select class="form-control" id="status" name="status">
                {% if ordertrans.status == '2' %}
                    <option value="3">Confirm</option>
                    <option value="5">Reject</option>
                {% elif ordertrans.status == '3' or ordertrans.status == '6' %}
                    <option value="4">Done</option>
                    <option value="7">Failed</option>
                {% endif %}
                </select>
        </div>
        <div class="form-group">
            <label class="mb-2"  for="exampleFormControlSelect1">หมายเหตุ</label>
            <textarea id="comment" name="comment" class="form-control" style="margin-left: 1px;" rows="4" cols="45"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" value="submit" class="btn btn-primary btn-submit">
        </div>
    </form>
</div>
</div>
{% endblock %}
{% block script %}
<script>
        $(document).ready(function(){
        var distance = document.getElementById('distance').value;
        var total_price = {{total}};
        var distance_price = 0;
        if(total_price >= 200)
        {
            if(distance >= 5)
            {
                distance_price = 10 * distance;
            }
            else
            {
                distance_price = 0;
            }
        }
        else
        {
            if(distance >= 5)
            {
                distance_price = 30 + ( 10 * distance);
            }
            else
            {
                distance_price = 10 * distance;
            }
        }
        document.getElementById('distance_price').value = distance_price;
        document.getElementById('all_price').value = total_price + distance_price;
    });

    function onDistanceChange(e) {
        var total_price = {{total}};
        var distance_price = 0;
        var distace = e.value;
        debugger;
        if(total_price >= 200)
        {
            if(distace >= 5)
            {
                distance_price = 10 * distace;
            }
            else
            {
                distance_price = 0;
            }
        }
        else
        {
            if(distace >= 5)
            {
                distance_price = 30 + ( 10 * distace);
            }
            else
            {
                distance_price = 10 * distace;
            }
        }
        document.getElementById('distance_price').value = distance_price;
        document.getElementById('all_price').value = total_price + distance_price;
    }
</script>
{% endblock %}