{% extends "base.html" %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">ข้อมูลรถยนต์</h5>
              <button type="button" class="btn-close" data-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label>ยี่ห้อรถยนต์</label>
                  <label for="require" class="form-label require">*</label>
                  <select class="form-control mb-2" id='car-brand' onchange="getCarSeries()">
                      <option default value=''>กรุณาเลือก</option>
                      {% for brand in brand_dropdown %}
                          <option value='{{brand.id}}'>{{brand.name}}</option>
                      {% endfor %}
                  </select>
                  <label>รุ่นรถยนต์</label>
                  <select class="form-control mb-2" id='car-series'>
                      <!-- <option default value=''>กรุณาเลือก</option> -->
                  </select>
                  <!-- <input type='text' id='model' class="form-control form-input" /> -->
                  <label>ทะเบียนรถ</label>
                  <input type='text' id='car_register' class="form-control form-input" />
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="addCar()">Save changes</button>
          </div>
      </div>
  </div>
</div>

<!-- spinner -->
<div class="justify-content-center" id='spinner'>
  <div class="spinner-grow" role="status">
  </div>
</div>
<div class="container form-box mt-4">
        <div class="">
            <h1>ประเมินราคา ถ่ายน้ำมันเครื่อง</h1>
            <h3>คุณ {{user.full_name}}</h3>
          <!-- <div class="mb-1"></div> -->
          <div class="mb-1">เบอโทรศัพท์: {{user.mobile_no}}</div>
          {% if car %}
          <div class="mb-1">ยี่ห้อรถ: {{car.model.name}}</div>
          <div class="mb-1">รุ่นรถ: {{car.model.brand.name}}</div>
          {% endif %}
          <div class="d-flex car-plat-option-2">
            <div>ทะเบียนรถ</div>
            <select onchange="changeRegister(this)" id='selectCar' class="custom-select"> 
              <option value="" default>กรุณาเลือก</option>
              {% for car in cars_dropdown %}
                <option value="{{car.id}}" >{{car.car_register}}</option>
              {% endfor %}
            </select>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-danger button-shadow" data-toggle="modal"
                  data-target="#exampleModal">เพิ่มรถยนต์</button>
          </div>
          </div>
        </div>
    {% if option %}
        {% if option.eco %}
            <div>ราคาโดยประมาณ</div>
            <div>{{option.eco_price}}</div>
            <div>ใช้เวลาประมาณ 15 - 30 นาที</div>
            <div>________________________</div>
            <div>*ราคารวมกรองนํ้ามันเครื่อง</div>
            <div>**บริการตรวจสภาพฟรี 10 รายการ ไม่มีค่าแรง</div>
            <div>***ราคาอาจมีการเปลี่ยงแปลง ตามจำนวนลิตรนํ้ามันที่ใช้</div>
            <div class="d-flex mt-4 mb-4">
                <button class="btn btn-warning" style="margin-right: 8px;" onclick="refreshItemPricePage()">คำนวณใหม่</button>
                <button class="btn btn-warning" style="margin-right: 8px;">จองคิว</button>
              </div>
        {% else %}
        <div id="myOption">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeOil" id="typeOil1" value="1" checked>
                <label class="form-check-label">
                    กึ่งสังเคราะห์แท้
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeOil" id="typeOil2" value="2">
                <label class="form-check-label" >
                    สังเคราะห์แท้
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeOil" id="typeOil3" value="3">
                <label class="form-check-label" >
                    สังเคราะห์แท้พรีเมียม
                </label>
              </div>
              <div class="d-flex mt-4 mb-4">
                <button class="btn btn-warning" style="margin-right: 8px;" onclick="calculatePriceForNormalCar()">คำนวณราคา</button>
              </div>
        </div>
        <div id="myResult" class="d-none">
          <div>ราคาโดยประมาณ</div>
            <div id='semi_sync_price' class="d-none">
              {{option.semi_sync_price}} บาท
            </div>
            <div id='sync_price' class="d-none">
              {{option.sync_price}} บาท
            </div>
            <div id='premium_price' class="d-none">
              {{option.premium_price}} บาท
            </div>
            <div>ใช้เวลาประมาณ 15 - 30 นาที</div>
            <div>________________________</div>
            <div>*ราคารวมกรองนํ้ามันเครื่อง</div>
            <div>**บริการตรวจสภาพฟรี 10 รายการ ไม่มีค่าแรง</div>
            <div>***ราคาอาจมีการเปลี่ยงแปลง ตามจำนวนลิตรนํ้ามันที่ใช้</div>
            <div class="d-flex mt-4 mb-4">
              <button class="btn btn-warning" style="margin-right: 8px;" onclick="refreshItemPricePage()">คำนวณใหม่</button>
              <button class="btn btn-warning" style="margin-right: 8px;">จองคิว</button>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script>
    function changeRegister(e){
        const carId = e.value
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        var path = window.location.pathname
        window.location.replace(`${path}?user_id=${params['user_id']}&car_id=${carId}`)
      }
    
    function refreshItemPricePage(){
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        var path = window.location.pathname
        window.location.replace(`${path}?user_id=${params['user_id']}`)
      }

    function calculatePriceForNormalCar(){
        var typeOil = GetvalueRadio();
        document.getElementById("myOption").className = 'd-none'
        document.getElementById("myResult").className = ''
        if(typeOil == 1)
        {
          document.getElementById("semi_sync_price").className = ''
        }
        else if(typeOil == 2)
        {
          document.getElementById("sync_price").className = ''
        }
        else
        {
          document.getElementById("premium_price").className = ''
        }
        // var body = { 'type_oil' : typeOil }
        // const res = await postData(url="/item/price/", data=body)
        // console.log(res)
      }
      
    $(document).ready(function(){
      function initial(){
        const carId = "{{car.id}}";
        $('#selectCar').val(carId)
      }
      initial();
    }())

  async function postData(url = '', data = {}) {
    const response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    return response.json();
  }

    function GetvalueRadio(){
      var radioOil = document.getElementsByName("typeOil");
      for (var i = 0, length = radioOil.length; i < length; i++) {
         if (radioOil[i].checked) {
         // do whatever you want with the checked radio
         return radioOil[i].value;
          }
        }
    }
</script>
<script>
  function getCarSeries(){
      const seriesId = $('#car-brand').val()
      if(seriesId){
          fetch(`/line/car-series?seriesId=${seriesId}`)
          .then(response => response.json())
          .then(data => {
              var html = '';
              for(car of data.series){
                  html += `<option value=${car.id}>${car.name}</option>`
              }
              $('#car-series').html(html)
          });
      }else{
          $('#car-series').html('')
      }
  }
</script>
<script>
  async function addCar() {
      document.getElementById('spinner').style.display = 'flex'
      const urlParams = new URLSearchParams(window.location.search);
      const user_id = urlParams.get('user_id');
      const data = {
          car_register: $('#car_register').val(),
          model: $('#car-series').val(),
          line_id: user_id
      }
      const response = await fetch('/line/addcar/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          redirect: 'follow',
          body: JSON.stringify(data)
      });
      const res = await response.json();
      window.location.reload()
      if (res.ok) {
          document.getElementById('spinner').style.display = 'none'
      } else {
          alert('error')
      }
  }
</script>
{% endblock %}