{% extends 'base_delivery.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleFormControlSelect1">ที่อยู่จัดส่ง</label>
                <select class="form-control" id="addressId">
                    {% for location in locations_user %}
                        <option value="{{location.id}}">{{location.name}}</option>
                    {% endfor %}
                </select>
                    <button class="btn btn-primary" onclick="handleManageLocation()">จัดการที่อยู่</button>
              </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleFormControlSelect1">รูปแบบการชำระเงิน</label>
                <select class="form-control" id="paymentMethodId">
                    <option value="1">เงินสด</option>
                    <option value="2">โอนเงิน(ระบบจะส่งบัญชีให้หลังยืนยันออเดอร์)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card" style="height: 80vh; overflow-y: scroll;">
        <div class="card-body">
            {% for item in result %}
                <div class="card-title">ร้าน {{item.name}}</div>
                <div class="mb-3 p-3">
                {% for detail in item.detail_list %}
                    <div>
                        <div class="d-flex justify-content-between">
                            <div>{{detail.menu}}</div>
                            <div>x{{detail.quantity}}</div>
                            <div>{{detail.price}}บาท</div>
                        </div>
                        <ul>
                            {% for subdetail in detail.details %}
                            <li>
                                <div class="d-flex justify-content-between">
                                    <div>{{subdetail.name}}</div>
                                    <div>{{subdetail.on_top_price}}บาท</div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% if detail.description %}
                            <label for="">รายละเอียดเพิ่มเติม</label>
                            <div class="border">{{detail.description}}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                <hr>
            {% endfor %}
            <div class="card card-box justify-content-center align-items-center">
                <div class="text-end">รวมเป็นเงินทั้งหมด {{total}} บาท</div>
            </div>
        </div>
    </div>
    <!-- button segtion -->
    <div class="row mt-3">
        <div class="col-6 text-center">
            <button class="btn btn-danger" onclick="cancleOrderTrans({{ordertrans_id}})">ยกเลิกการสั่งซื้อ</button>
        </div>
        <div class="col-6 text-center">
            <button class="btn btn-success" onclick="confirmOrder()">ยืนยันการสั่งซื้อ</button>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function handleManageLocation(){
        const urlParams = new URLSearchParams(window.location.search);
        const userId = urlParams.get('user_id');
        const branchId = urlParams.get('branch_id');
        window.location.href = `/delivery/location_detail/?user_id=${userId}&branch_id=${branchId}`
    }
    function cancleOrderTrans(orderTransId){
        const urlParams = new URLSearchParams(window.location.search);
        const userId = urlParams.get('user_id');
        const branchId = urlParams.get('branch_id');
        const url = '/delivery/api/order/';
        const data = {
            'ordertrans_id': parseInt(orderTransId),
            'user_id': userId
        }
        const body = {
            method: 'DELETE',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }
        Swal.fire({
            title: 'ต้องการยกเลิกรายการสั่งซื้อใช่ไหม',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ต้องการ',
            cancelButtonText: 'ยกเลิก'
            }).then((result) => {
            if (result.isConfirmed) {
                fetch(url, body)
                .then(res => res.json())
                .then(data => {
                    // TODO check status ok from server
                    // get_notify(); // refresh notify
                    Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                    )
                    setTimeout(function(){
                        window.location.href = `/delivery/?user_id=${userId}&branch_id=${branchId}`
                    }, 1500)
                })
            }
            })
    }

    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        const param = urlParams.get(name);
        return param;
    }
    function confirmOrder() {
        const lineId = getQueryParam('user_id');
        const branch_id= getQueryParam('branch_id');
        const payment_method_id = $('#paymentMethodId').val();
        const location_id = $('#addressId').val();
        let data = {
            line_id: lineId,
            branch_id:branch_id,
            payment_method_id: payment_method_id,
            location_id: location_id
        };
        Swal.fire({
            title: 'ยืนยันรายการสั่งซื้อใช่ไหม?',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ต้องการ',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                const url = '/delivery/api/order/';
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                    })
                    .then(res => res.json())
                    .then(data => {
                        let message = '';
                        if (data.ok) {
                            message = 'การสั่งซื้อสำเร็จ'
                        } else {
                            message = 'การสั่งซื้อไม่สำเร็จ'
                        }
                        Swal.fire(message)
                        setTimeout(() => {
                            window.location.href = `/delivery/?user_id=${lineId}&branch_id=${branch_id}`
                        }, 2000)
                    })
            }
        })

    }
</script>
{% endblock %}


