{% extends "base.html" %}
{% block content %}
<div class="container-sm">
    {% for item in form %}
    <div class="mb-2">
        <div>owner: {{item.user_id}}</div>
        <div>username: {{item.user_name}}</div>
        <div>mobile: {{item.user_mobile}}</div>
        <div>car: {{item.car}}</div>
        <div>transactionform id: {{item.sale_id}}</div>
        
        <!-- <div>regis: {{item.regis}}</div> -->
        <div>transactiondetai id:
            {% for item in item.result %}
                <span>{{item.id}}</span>
                <!-- <span>{{item.name}}</span> -->
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}