{% extends "base.html" %}
{% block style %}
<style>
    #mapDiv {
      height: 100%;
    }
</style>
{% endblock %}
{% block content%}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-fade-cls">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แผนที่</h5>
                <button type="button" class="btn-close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="mapDiv">                   
                </div>
                <div class="d-grid gap-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-danger button-shadow">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-sm" id='main-container'>
    <body onload="init();" >
        <div id="map" style="height: 300px;"></div>
      </body>
    <form method="post" class="form-format box-shadow" id='formSubmit'>
        <div class="mb-3 form-box">
            <div>Name Place</div>
            {% csrf_token %}
            <input name = "locationName" id = "location_name" class="form-control shadow-sm p-3 mb-2 bg-white rounded type="text" placeholder="Location Name" aria-label="default input example">
            <input name = "detail1st" id = "detail_1st" class="form-control shadow-sm p-3 mb-2 bg-white rounded" type="text" placeholder="Detail" aria-label="default input example">
            <input name = "detail2nd" id = "detail_2nd" class="form-control shadow-sm p-3 mb-2 bg-white rounded" type="text" placeholder="Detail" aria-label="default input example">
            <input name = "latitude" type='text' class='invisible'/>
            <input name = "longitude" type='text' class='invisible'/>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn- btn button-shadow round-button" style='background: lightgrey;' type="button">Cancel</button>
            <button class="btn btn-primary btn btn-danger button-shadow round-button" type="submit">Confirm</button>
        </div>
    </form>

</div>
{% endblock %}
{% block script %}
<script>
    var map;
     function init() {
            map = new longdo.Map({
                placeholder: document.getElementById('map'),
                ui: longdo.UiComponent.Mobile
            });
            map.Ui.Zoombar.visible(false);
            map.Ui.LayerSelector.visible(false);
            map.Ui.Fullscreen.visible(false);
            map.location(longdo.LocationMode.Geolocation); // go to 100, 16 when created map
            map.Event.bind('drop', function() {
              var location = map.location(); // Cross hair location
              map.Overlays.clear();
              var marker = new longdo.Marker({ lon: location.lon, lat: location.lat });
              map.Overlays.add(marker)
            });
          }
</script>
{% endblock %}