{% extends "base.html" %}
{% block style %}
<style>
    #mapDiv {
      height: 100%;
    }
</style>
<script type="text/javascript" src="http://api.nostramap.com/nostraapi/v2.0?key=GXIa08)awkPkHDd3E(6akpd0XAj3iHkWyHvADPnado4voS8oNN4XPvZ5Hv)jRt01DeNBWOlbYMDLecQiut3sFM0=====2"></script>
{% endblock %}
{% block content%}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-fade-cls">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แผนที่</h5>
                <button type="button" class="btn-close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="mapDiv">                   
                </div>
                <div class="d-grid gap-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-danger button-shadow">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-sm" id='main-container'>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger button-shadow" data-toggle="modal"
            data-target="#exampleModal">แผนที่</button>
    </div>
    <form method="post" class="form-format" id='formSubmit'>
        <div class="mb-3 form-box">
            <label>Name Place</label>
            {% csrf_token %}
            <input name = "locationName" id = "location_name" class="form-control" type="text" placeholder="Location Name" aria-label="default input example">
            <input name = "detail1st" id = "detail_1st" class="form-control" type="text" placeholder="Detail" aria-label="default input example">
            <input name = "detail2nd" id = "detail_2nd" class="form-control" type="text" placeholder="Detail" aria-label="default input example">
            <input name = "latitude" type='text' class='invisible'/>
            <input name = "longitude" type='text' class='invisible'/>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Cancel</button>
            <button class="btn btn-primary" type="submit">Confirm</button>
        </div>
    </form>

</div>
{% endblock %}
{% block script %}
<script>
    nostra.onready = function () {
           //start your code here
           if (navigator.geolocation) {
               navigator.geolocation.getCurrentPosition(showPosition, showError);
           } else {
               alert("Geolocation is not supported by this browser.");
           }
           function showError(error) {
               switch (error.code) {
                   case error.PERMISSION_DENIED:
                       alert("User denied the request for Geolocation.");
                       break;
   
                   case error.POSITION_UNAVAILABLE:
                       alert("Location information is unavailable.");
                       break;
           
                   case error.TIMEOUT:
                       alert("The request to get user location timed out.");
                       break;
       
                   case error.UNKNOWN_ERROR:
                       alert("An unknown error occurred.");
                       break;
               }
           }

           function showPosition(position) {
               var lat = position.coords.latitude;
               var lon = position.coords.longitude;
               document.getElementsByName('latitude')[0].value = lat;
               document.getElementsByName('longitude')[0].value = lon;
               debugger;
               var map = new nostra.maps.Map("mapDiv", {
               id: "mapTest",
               logo: true,
               scalebar: true,
               basemap: "streetmap",
               slider: true,
               level: 15,
               lat: lat,
               lon: lon,
               country: "TH"
           });
               var pointLayer = new nostra.maps.layers.GraphicsLayer(map, { id: "pointLayer" });
               map.addLayer(pointLayer);
               var pointMarker = new nostra.maps.symbols.Marker({ url: "", width: 60, height: 6, attributes: { POI_NAME: "Current Location" },draggable:true });
               var g = pointLayer.addMarker(lat, lon, pointMarker);
               pointMarker.events.dragStart = function (geometry) {
               console.log("Start Drag at Latitude: " + geometry.lat + ", Longitude: " + geometry.lon);
               }
               pointMarker.events.dragMove = function (geometry) {
                   console.log("Move To Latitude: " + geometry.lat + ", Longitude: " + geometry.lon);
               }
               pointMarker.events.dragEnd = function (geometry) {
                   console.log("End Drag at Latitude: " + geometry.lat + ", Longitude: " + geometry.lon);
                   // code here for edit location
               }
           }
       };
</script>
{% endblock %}