{% extends "base_delivery.html" %}
{% load static %}
{% block content %}
    <div class="row">
      <img src="{{menu.avatar.url}}" class="menu-detail-img"/>
      <div class="d-flex justify-content-between">
        <h2 class="">{{menu.price}} บาท</h2>
        <div class="d-flex" style="background: lightpink">
          <button type="button" class="btn btn-outline-danger mx-2" >
            <img src="{% static 'icons/minus-solid.svg' %}" style="width: 15px" onclick="decrease()"/>
          </button>
          <div class="m-2" id="quantity">1</div>
          <button type="button" class="btn btn-outline-danger mx-2" onclick="increase()">
            <img src="{% static 'icons/plus-solid.svg' %}" style="width: 15px"/>
          </button>
        </div>
      </div>
      <div>
        <h2>{{menu.name}}</h2>
        <p>{{menu.detail}}</p>
      </div>
      <div>
        <input type="text" id="menudetail-id-list" class="d-none"/>
        {% for detail in menu.details %}
        <div class="d-flex justify-content-between">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{detail.id}}" id="flexCheckDefault" onchange="handleCheckBox(this)">
            <label class="form-check-label" for="flexCheckDefault">
              {{detail.name}}
            </label>
          </div>
          <span>{{detail.price}} บาท</span>
        </div>
        {% endfor %}
      </div>
      <div class="form mt-3">
        <label for="floatingTextarea">ข้อมูลเพิ่มเติม</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      </div>
      <div class="mt-3 text-center">
        <button class="btn btn-danger" id="{{menu.id}}" onclick="handleOrderDetail(this, {{restaurant.id}}, 'add')">เพิ่มลงตระกร้า</button>
      </div>
    </div>
  </div>
    
{% endblock %}
{% block script %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'shared/menu.js' %}"></script>
    <script>
        $(document).ready(function(){
           get_notify()
          
        }())
          const selectedMenuDetailId = new Set();

          function handleCheckBox(e){
            const newVal = e.value
            const hasVal = selectedMenuDetailId.has(newVal)
            if(hasVal){
              selectedMenuDetailId.delete(newVal)
            }else{
              selectedMenuDetailId.add(newVal)
            }
          }
            function increase(){
              var quantity = $('#quantity')
              let value = parseInt(quantity.text()) + 1
              quantity.html(value)
           }

           function decrease(){
              var quantity = $('#quantity')
              let value = parseInt(quantity.text())
              if(value > 1){
                quantity.html(value-1)
              }
           }
    </script>
{% endblock %}