{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="card">
        <div class="card-body">
            {% for item in result %}
            <div class="card-title">ร้าน {{item.restaurant}}</div>
            <div class="mb-3">
                <span>รายละเอียดสินค้า</span>
                <div class="p-3">
                    {% for detail in item.details %}
                    <div class="row">
                        <div class="col">{{detail.name}}</div>
                        <div class="col">{{detail.quantity}} ชิ้น</div>
                        <div class="col">{{detail.price}} บาท</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="text-end">รวมเป็นเงินทั้งหมด {{total}} บาท</div>
        </div>
    </div>

    <!-- button segtion -->
    <div class="row mt-3">
        <div class="col-6 text-center">
            <button class="btn btn-danger">ยกเลิกการสั่งซื้อ</button>
        </div>
        <div class="col-6 text-center">
            <button class="btn btn-success" onclick="confirmOrder()">ยืนยันการสั่งซื้อ</button>
        </div>

    </div>
</div>
{% endblock %}
{% block script %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        const param = urlParams.get(name);
        return param;
    }
    function confirmOrder() {
        const lineId = getQueryParam('user_id');
        let data = {
            line_id: lineId,
        };
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                const url = '/delivery/api/order/';
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(res => res.json())
                    .then(data => {
                        let message = '';
                        if (data.ok) {
                            message = 'การสั่งซื้อสำเร็จ'
                        } else {
                            message = 'การสั่งซื้อไม่สำเร็จ'

                        }
                        Swal.fire(message)
                    })
            }
        })

    }
</script>
{% endblock %}