{% extends "base.html" %}
{% block content %}
<div class='pp'>
<table class="table-pp" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td colspan="3" align="center">
            <b><h2>นโยบายข้อมูลส่วนบุคคล</h2></b>
        </td>
    </tr>

    <tr>
        <td colspan="2" style=font-size:12px>ฉบับนี้ ลงวันที่ 13 พฤศจิกายน 2564</td>
    </tr>

    <tr>
        <td colspan="2"><br/>ประกาศฉบับนี้ คือนโยบายเกี่ยวกับข้อมูลส่วนบุคคล ของเว็บแอพพลิเคชั่นเพื่อยกระดับมาตรฐานการรักษาความปลอดภัยของข้อมูลส่วนบุคคลของ ผู้ใช้บริการให้ดียิ่งขึ้น โดยนโยบายนี้กำหนดขึ้นเพื่อให้สอดคล้องกับพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 เพื่อช่วยให้ผู้ใช้บริการได้ทราบถึงแนวทางปฏิบัติเกี่ยวกับนโยบายความเป็นส่วนตัว และทราบถึงทางเลือกเกี่ยวกับความเป็นส่วนตัวเมื่อเข้าใช้บริการ ภายในกลุ่ม บริษัท คณาศรีนุวัติพัฒนวงศ์ จำกัด และ บริษัท คณาศรี19 จำกัด ("คณาศรี" หรือ "เรา")</td>
    </tr>

    <tr>
        <td colspan="2"><br/>หากคุณตัดสินใจที่จะดำเนินการดังกล่าว เราจะสร้างประวัติส่วนบุคคลให้แก่คุณเพื่อใช้ และนำทางผ่านบริการต่างๆของเรา(การลงชื่อเช้าใช้งานผ่าน รหัสผ่านใช้ครั้งเดียว) </td>
    </tr>

    <tr>
        <td colspan="2"><br/>บนเว็บแอพพลิเคชั่น คุณจะพบกับลิงค์ที่เชื่อมต่อไปยังเว็บไซต์อื่นๆ ซึ่งแม้ว่าเว็บไซต์เหล่านี้จะผ่านการคัดสรรมาเป็นอย่างดีแล้ว แต่เราไม่มีส่วนรับผิดชอบในการประมวลผลข้อมูลส่วนบุคคลของคุณบนเว็บไซต์เหล่านี้ นโยบายความเป็นส่วนตัวฉบับนี้จึงไม่นับรวมการใช้งานเว็บไซต์ต่างๆดังกล่าว</td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>ประกาศพิเศษ-หากคุณมีอายุต่ำกว่า 18 ปี</b><br/> 
            เราไม่มีเจตนาที่จะรวบรวมข้อมูลส่วนบุคคลของผู้ที่มีอายุต่ำกว่า 18 ปี หากคุณมีอายุต่ำกว่า 18 ปี กรุณาอย่าส่งข้อมูลส่วนบุคคล (เช่น ชื่อ ที่อยู่ อีเมลของคุณ) ให้แก่เรา หากคุณมีอายุต่ำกว่า 18 ปี และต้องการสอบถามข้อมูล หรือใช้งานเว็บแอพพลิเคชั่น ในกรณีใดๆ ซึ่งกำหนดให้คุณต้องส่งข้อมูลส่วนบุคคลของคุณ โปรดขอให้บิดามารดา หรือผู้ปกครองของคุณดำเนินการดังกล่าวในนามของคุณ</td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>วัตถุประสงค์ของการจัดเก็บข้อมูลส่วนบุคคล</b><br/> 
            เก็บรักษาข้อมูลส่วนบุคคลตามวัตถุประสงค์ของกฎหมายและวัตถุประสงค์ในการดำเนินธุรกิจ เพื่อวิเคราะห์พฤติกรรมการใช้งานของผู้เข้าใช้ เพื่อทำให้เข้าใจพฤติกรรมและตอบสนองความต้องการของผู้เข้าใช้บริการ รวมไปถึงเพื่อการพัฒนา Big data และ A.I. (ปัญญาประดิษฐ์) ต่อไปในอนาคต   
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>บุคคลใดมีหน้าที่ควบคุมข้อมูลของคุณ</b><br/> 
            บริษัท คณาศรีนุวัติพัฒนวงศ์ จำกัด หมายเลขผู้เสียภาษี 0205560000963 ที่อยู่จดทะเบียน 9/99 หมู่ที่ 2 ตำบลพลูตาหลวง อำเภอสัตหีบ จังหวัดชลบุรี 
            และ บริษัท คณาศรี19 จำกัด หมายเลขผู้เสียภาษี 0205562025165 ที่อยู่จดทะเบียน 121/42 หมู่ที่ 4 ตำบลพลูตาหลวง อำเภอสัตหีบ จังหวัดชลบุรี เป็นผู้ควบคุมสำหรับการดำเนินการใดๆ เกี่ยวกับข้อมูลส่วนบุคคลของคุณ
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>เราดำเนินการเก็บรวบรวมข้อมูลประเภทใด</b><br/> 
            เรารวบรวมข้อมูล รวมถึงข้อมูลส่วนบุคคลเกี่ยวกับคุณ ในฐานะลูกค้าผู้ใช้เว็บแอพพลิเคชั่น ของเรา โดยข้อมูลนี้อาจหมายถึงข้อมูลใดข้อมูลหนึ่ง ต่อไปนี้   
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>ข้อมูลที่คุณมอบให้แก่เรา</b><br/> 
            เมื่อคุณสร้างประวัติบัญชี เราต้องการชื่อ เบอร์โทรศัพท์ รหัสประจำตัวผู้ใช้บริการไลน์ (UserID Line)
และข้อมูลที่จำเป็นสำหรับการตอบคำถามด้านความปลอดภัยใดๆ หากคุณตัดสินใจที่จะเป็นสมาชิกของโปรแกรม และต้องการใช้สิทธิประโยชน์ของเรา เราอาจขอข้อมูลเพิ่มเติม ตามที่จำเป็นสำหรับการทำงานของบริการดังกล่าว และ/หรือ การรับรองความถูกต้อง เช่น ที่อยู่สำหรับจัดส่ง วันเกิด 
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>ข้อมูลที่เราได้รับจากการซื้อผลิตภัณฑ์ และบริการของคุณ</b><br/> 
            เราจะรวบรวมข้อมูลเกี่ยวกับวิธีการ และสถานที่เข้ารับบริการ และ
ซื้อผลิตภัณฑ์ใดๆของเรา ข้อมูลดังกล่าวอาจรวมถึง ข้อมูลอุปกรณ์อิเล็กทรอนิกส์ IP Adrees บันทึกข้อมูลการใช้งาน ข้อมูลสถานที่ ตัวบ่งชี้ข้อมูลในระบบออนไลน์ เพื่อเปิดใช้'ฐานข้อมูล' และเทคโนโลยีที่คล้ายคลึงกัน ประวัติการซื้อของคุณมีข้อมูลเกี่ยวกับ
ผลิตภัณฑ์ที่คุณซื้อ ยอดรวมการซื้อต่อรายการ เวลาและสถานที่ที่คุณซื้อ และวิธีการชำระเงิน รวมถึงวิธีการชำระเงินที่ฝังอยู่ในเว็บแอพพลิเคชั่น(ถ้ามี)
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>เราประมวลผลข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์ใด</b><br/> 
            เราจะประมวลผลภายใต้ขอบเขตของประกาศนี้ ในกรณีดังต่อไปนี้
        </td>
    </tr>

    <tr>
            <td class="pno">1.</td>
            <td colspan="2">
                เมื่อได้รับความยินยอมโดยชัดแจ้งจากคุณ
            </td>
    </tr>

    <tr>
        <td class="pno">2.</td>
        <td colspan="2">
                ในกรณีที่จำเป็นต้องทำธุรกรรมกับคุณ
        </td>
    </tr>

    <tr>
        <td class="pno">3.</td>
        <td colspan="2">
            ในกรณีที่ เรา จำเป็นต้องปฏิบัติตามข้อกำหนดทางกฏหมาย
            แม้การประมวลผลจะต้องอาศัยความยินยอม แต่คุณมีสิทธิที่จะเพิกถอนความยินยอมของคุณได้ตลอดเวลา
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>เราประมวลผลข้อมูลส่วนบุคคลเพื่อวัตถุประสงค์ดังต่อไปนี้</b>
        </td>
    </tr>

    <tr>
        <td class="pno">1.</td>
        <td colspan="2">
            เพื่อรักษา และส่งเสริมการติดต่อ และสัมพันธภาพกับคุณ
        </td>
    </tr>

    <tr>
        <td class="pno">2.</td>
        <td colspan="2">
            2.	เพื่อบริหารจัดการบัญชีของคุณ รวมถึงการยืนยันความถูกต้องในการใช้บัญชี(ซึ่งเป็นหลักประกันว่าผู้ใช้บัญชี จะมีเพียงตัวคุณ และผู้ที่ได้รับมอบหมายจากคุณเท่านั้น)
        </td>
    </tr>

    <tr>
        <td class="pno">3.</td>
        <td colspan="2">
            เพื่อการให้บริการ และพัฒนาการให้บริการ</td>
    </tr>

    <tr>
        <td class="pno">4.</td>
        <td colspan="2">
           เพื่อประสิทธิภาพ และการวิเคราะห์ข้อมูลในการสำรวจตลาด และกลยุทธ์การตลาด</td>
    </tr>

    <tr>
        <td class="pno">5.</td>
        <td colspan="2">
            เพื่อนำเสนอรายการส่งเสริมการขาย และข้อเสนอต่างๆสู่ลูกค้าของเรา รวมถึงการมอบรางวัลดิจิทัลให้แก่คุณ ในฐานะลูกค้า</td>
    </tr>

    <tr>
        <td class="pno">6.</td>
        <td colspan="2">
            เพื่อตรวจจับ และป้องกันการทุจริต ในกรณีที่คุณเข้าใช้บริการเพื่อซื้อผลิตภัณฑ์</td>
    </tr>

    <tr>
        <td colspan="2"><br/><b>การติดต่อสื่อสาร และข้อมูลด้านการตลาด</b><br/>
            หากคุณให้ความยินยอมดังกล่าว คุณอาจได้รับข้อเสนอที่เหมาะสมกับความต้องการ โดยอ้างอิงจากประวัติการใช้บริการ
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/>เราอาจส่งการแจ้งเตือน และปรับปรุงการให้บริการกับคุณ โดยไม่ได้ขอความยินยอมล่วงหน้า เฉพาะกรณี เป็นสิ่งจำเป็นสำหรับการทำงานที่เหมาะสมของเว็บแอพพลิเคชั่น
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/><b>ความปลอดภัยของข้อมูลการใช้งาน และการป้องกัน ตรวจจับ และตรวจสอบการทุจริต</b><br/>
            เราได้นำนโยบาย และเทคโนโลยีต่างๆ มาใช้โดย มีวัตถุประสงค์ เพื่อปกป้องความเป็นส่วนตัวของคุณจากการเข้าใช้งานที่ไม่เหมาะสม เราใช้กระบวนการรับรอง และตรวจสอบความถูกต้อง เพื่อเข้าถึงบริการ        </td>
    </tr>

    <tr>
        <td colspan="2"><br/>เราอาจใช้ข้อมูลส่วนบุคคลที่คุณมอบให้ในการป้องกัน ตรวจจับ และตรวจสอบการทุจริต และเพื่อบังคับใช้ตามข้อกำหนดและเงื่อนไข
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/><b>เราจะเปิดเผยข้อมูลส่วนบุคคลของคุณแก่บุคคลใด</b><br/>
            ข้อมูลส่วนบุคคลของคุณได้รับการประมวลผลตามวัตถุประสงค์ที่อ้างถึงข้างต้นโดยเฉพาะ และจะเปิดเผยข้อมูลดังกล่าวให้ ฝ่ายต่อไปนี้ทราบ โดยปฏิบัติตามหลักความจำเป็นอย่างเคร่งครัด
        </td>
    </tr>

    <tr>
        <td class="pno">1.</td>
        <td colspan="2">
            บริษัทอื่นๆภายใน คณาศรี
        </td>
    </tr>

    <tr>
        <td class="pno">2.</td>
        <td colspan="2">
            เจ้าหน้าที่หน่วยงานรัฐ หน่วยงานกำกับดูแล ในกรณีที่จำเป็นต้องปฏิบัติตามข้อผูกมัดทางกฏหมาย หรือข้อบังคับ ซึ่งเราจะต้องปฏิบัติตาม
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>เราเก็บข้อมูลของคุณนานเพียงใด</b></br>
            ข้อมูลส่วนบุคคลของคุณจะถูกจัดเก็บ นำมาใช้ประมวลผลตามนโยบายความเป็นส่วนตัวฉบับนี้ จะถูกลบออก หรือจัดให้เป็นข้อมูลที่ไม่ระบุชื่อ (ซึ่งทำให้ไม่สามารถระบุตัวตนคุณได้อีกต่อไป) ดังนี้
       </td>
    </tr>

    <tr>
        <td class="pno">1.</td>
        <td colspan="2">
            ทันทีที่คุณร้องขอให้ลบข้อมูลบัญชี
        </td>
    </tr>

    <tr>
        <td class="pno">2.</td>
        <td colspan="2">
            สำหรับบริการแบบสมัครรับบริการทุกประเภท จะดำเนินการภายใน 3 ปี นับจากที่เราได้สื่อสารโต้ตอบกับคุณเป็นครั้งสุดท้าย ในส่วนของธุรกรรมทางการเงิน จะถูกเก็บไว้ 5 ปีนับจากการทำธุรกรรมนั้น
        </td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>ฐานข้อมูล และเทคโนโลยีที่คล้ายคลึงกัน</b></br>
            เราใช้ฐานข้อมูล และเทคโนโลยีที่คล้ายคลึงกันเพื่อเก็บรวบรวมข้อมูล เมื่อคุณเข้าใช้บริการ ทำให้สามารถแยกแยะ และระบุข้อมูลเมื่อคุณกลับเข้ามาใช้บริการอีกครั้ง เพื่อช่วยให้เราสามารถปรับปรุงประสบการณ์ที่คุณจะได้รับ</td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>หากคุณติดต่อสื่อสารกับเราผ่านสื่อโซเชียลมีเดีย</b></br>
            หากคุณตัดสินใจที่จะติดต่อกับเราผ่านทางสื่อโซเชียลมีเดีย เช่น Facebook และ/หรือ Line เราไม่รับผิดชอบต่อการประมวลผลข้อมูลส่วนบุคคลดังกล่าว หรือ นโยบายความเป็นส่วนตัวของเว็บไซต์โซเชียลมีเดีย ดังกล่าว
            เมื่อคุณสื่อสารกับเราผ่านสื่อโซเชียลมีเดีย เราอาจได้รับข้อมูลส่วนบุคคลเกี่ยวกับคุณ (เช่น ชื่อผู้ใช้ ภาพโปรไฟล์ บ้านเกิด ที่อยู่อีเมล เพศ) เราจะใช้ข้อมูลดังกล่าว อย่างสอดคล้องกับนโยบายความเป็นส่วนตัวนี้
             </td>
    </tr>

    <tr>
        <td colspan="2"><br/>
            <b>บุคคลใดที่สามารถติดต่อได้หากมีคำถาม และปัญหาในการเข้าใช้บริการ การลบข้อมูล หรืออื่นๆ</b></br>
            โปรดส่งคำขอ หรือ ติดต่อผ่านทางอีเมล k.phatthanawong@gmail.com หรือเบอร์โทรศัพท์ 033641010</td>
    </tr>
    
    <tr><td class="tb-bt" colspan="2"></br>
      <button type='button' class="btn btn-danger btn-lg button-shadow" onclick="RedirectFormPage()">รับทราบ</button>
    </td>
    </tr>
</table>
</div>

{% endblock %}
{% block script %}
<script>
      function RedirectFormPage(){
    const urlParams = new URLSearchParams(window.location.search);
    const user_id = urlParams.get('user_id');
    const branch_id = urlParams.get('branch_id');
    const htmla = window.location.hostname;
    window.location.href = `/line/form/?user_id=${user_id}&branch_id=${branch_id}`
  }
</script>
{% endblock %}
