{% extends "base_delivery.html" %}
{% load static %}
{% block style%}
<style>
    .hero-image{
        width: 100%;
        height: 56%;
    }
</style>
{% endblock %}
{% block content %}
    <div>
        <img class='hero-image' src="{{restaurant.avatar.url}}" alt="">
    </div>
    <div>
        <div>
            <div>
                <div>ร้าน {{restaurant.name}}</div>
                <div>{{restaurant.detail}}</div>
            </div>

            {% for menu in menus %}
            <div class="card card my-2 shadow card-item card-radius">
                <div class="card-body">
                    <div class="row mt-2">
                            <div class="col">
                                <a onclick="handleClick('{{menu.id}}')">
                                    <img class="card-img-top" src="{{menu.avatar.url}}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col">
                                <h5 class="card-title">{{menu.name}}</h5>
                                <div>{{menu.detail}}</div>
                                <div class="border border-warning round text-center">{{menu.price}} บาท</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function handleClick(menuId){
            const urlParams = new URLSearchParams(window.location.search);
            const userId = urlParams.get('user_id')
            const branchId = urlParams.get('branch_id');
            const path = "{{path}}";
            const url = `${path}${menuId}/?user_id=${userId}&branch_id=${branchId}`;
            window.location = url
        }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'shared/menu.js' %}"></script>
    <script>
        $(document).ready(function(){
           get_notify()
        }())
    </script>
{% endblock %}