{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-sm">
    <div class="text-end">
        <button type="button" class="btn btn-primary" onclick="myCart()">
            Notifications <span class="badge badge-light" id='notify'>0</span>
        </button>
    </div>
    {% for menu in menus %}
    <div class="card mb-2">
        <div class="row">
            <div class="col">
                <a onclick="handleClick('{{menu.id}}')">
                    <img class="card-img-top" src="{% static 'food.jpg' %}" alt="Card image cap">
                </a>
            </div>
            <div class="col">
                <h5 class="card-title">{{menu.name}}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <div class="d-flex align-item-center justify-content-end">
                    <div>ราคา {{menu.price}} บาท</div>
                    <img src="{% static 'icons/add-circle.svg' %}" id="{{menu.id}}" onclick="handleOrderDetail(this, '{{menu.res_id}}', 'add')">
                </div>
            </div>
        </div>
      </div>
    {% endfor %}

</div>
{% endblock %}
{% block script %}
    <script>
        function handleClick(menuId){
            const urlParams = new URLSearchParams(window.location.search);
            const userId = urlParams.get('user_id')
            const path = "{{path}}";
            const url = `${path}${menuId}/?user_id=${userId}`;
            window.location = url
        }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'shared/menu.js' %}"></script>
    <script>
        $(document).ready(function(){
           get_notify()
        }())
    </script>
{% endblock %}