{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="mt-4 form-head">
    <div class="">
      <h1>คุณ {{fullname}}</h1>
      <div class="mb-1">เบอโทรศัพท์: {{mobile}}</div>
      <div class="d-flex justify-content-between car-plat-option">
        <div>ทะเบียนรถ</div>
        <select onchange="changeRegister(this)" id='selectCar' class="custom-select">
          <option value="" default>ทั้งหมด</option>
          {% for car in cars_dropdown %}
          <option value="{{car.id}}">{{car.car_register}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div>
    
  </div>

  <p class="mt-4">
    <button class="btn btn-danger" type="button" onclick="handleToggle(this)">ประวัติการให้บริการ</button>
    <button class="btn btn-danger" type="button" onclick="handleToggle(this)">โปรโมชั่น</button>
  </p>
  <!-- <div class="mt-4 mb-4"> -->
    <div class="" id="history">
      {% for value in result %}
      <div class="form-box mt-4 mb-4">
        <div class="mb-1">ทะเบียนรถยนต์:{{value.car_register}} </div>
        <div class="mb-1">ยี่ห้อรถยนต์: {{value.brand}}</div>
        <div class="mb-1">รุ่น: {{value.model}}</div>
      </div>
      <div class="form-box mt-4">
        <div class="d-flex justify-content-between">
          <h5>บริการ</h5>
          <h5>{{value.created_date}} {{value.created_at}}</h5>
        </div>
        <!-- <p class="text-end"></p> -->
        <div>ศูนย์บริการสาขา: {{value.branch|default:'ไม่ระบุ'}}</div>
        {% for detail in value.details %}
        <div class="mt-2">
          <p class="mb-1">ชื่ออะไหล่: {{detail.item}}</p>
          <div>
            <span class="mb-1">จำนวน: {{detail.quantity}} ชิ้น</span>
            <span class="mb-1">ราคาต่อชิ้น: {{detail.price}} บาท</span>
          </div>
        </div>
        {% endfor %}
        <div class="mt-4">รวมจำนวนเงิน {{value.total_price}} บาท</div>
        <div class="text-end mt-4">บริการครั้งต่อไป {{value.next_service}}</div>
      </div>
      {% endfor %}
    </div>
    <div class="" id="promotion">promotion</div>
  <!-- </div> -->
</div>

<div class="float-end mt-2">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" aria-label="Previous" onclick="prvPage()">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" aria-label="Next" onclick="nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
</div>
{% endblock %}
{% block script %}
<script>
  function handleToggle(e){
    const e1 = $('#history')
    const e2 = $('#promotion')
    if(e1.css('display') === 'block'){
      e1.css('display', 'none')
      e2.css('display', 'block')
    }else{
      e1.css('display', 'block')
      e2.css('display', 'none')
    }
  }
</script>
<script>
  function changeRegister(e) {
    const carId = e.value
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    var path = window.location.pathname
    window.location.replace(`${path}?user_id=${params['user_id']}&page=${params['page']}&car_id=${carId}`)
  }

  function nextPage() {
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    var path = window.location.pathname;
    var next = "{{next_page}}";
    window.location.replace(`${path}?user_id=${params['user_id']}&page=${next || 1}&car_id=${params['car_id']}`)
  }

  function prvPage() {
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    var path = window.location.pathname
    var prv = "{{prv_page}}";
    window.location.replace(`${path}?user_id=${params['user_id']}&page=${prv || 1}&car_id=${params['car_id']}`)
  }
  $(document).ready(function () {
    function initial() {
      const carId = "{{car.0.id}}";
      $('#selectCar').val(carId)

      $('#promotion').css('display', 'none');
    }

    initial();

  }())
</script>
{% endblock %}