{% extends "base.html" %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-fade-cls">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ข้อมูลรถยนต์</h5>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ยี่ห้อรถยนต์</label>
          <label for="require" class="form-label require">*</label>
          <select class="form-control mb-2" id='car-brand' onchange="getCarSeries()">
            <option default value=''>กรุณาเลือก</option>
            {% for brand in brand_dropdown %}
            <option value='{{brand.id}}'>{{brand.name}}</option>
            {% endfor %}
          </select>
          <label>รุ่นรถยนต์</label>
          <select class="form-control mb-2" id='car-series'>
            <!-- <option default value=''>กรุณาเลือก</option> -->
          </select>
          <!-- <input type='text' id='model' class="form-control form-input" /> -->
          <label>ทะเบียนรถ</label>
          <input type='text' id='car_register' class="form-control form-input" />
          <span style="font-size: 14px;">* ระบุเฉพาะทะเบียน ไม่ต้องวรรคหรือเพิ่มสัญลักษณ์ - และจังหวัด เช่น กข1234</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-danger button-shadow" onclick="addCar()">บันทึก</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-fade-cls">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ข้อมูลบุคคล</h5>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ชื่อ - นามสกุล</label>
          <input type='text' id='full_name' class="form-control form-input" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-danger button-shadow" onclick="changeName()">บันทึก</button>
      </div>
    </div>
  </div>
</div>
<div class="justify-content-center" id='spinner'>
  <div class="spinner-grow" role="status">
  </div>
</div>
<div class="container">
  <div class="mt-4 form-head">
      <div>
      <h1>คุณ {{fullname}}</h1>
      </div>
      <div class="mb-1">เบอโทรศัพท์: {{mobile}}</div>
      <div class="d-flex car-plat-option-2">
        <div>ทะเบียนรถ</div>
        <select onchange="changeRegister(this)" id='selectCar' class="custom-select">
          <option value="" default>ทั้งหมด</option>
          {% for car in cars_dropdown %}
          <option value="{{car.id}}">{{car.car_register}}</option>
          {% endfor %}
        </select>
        <div class="d-flex justify-content-end">
          <button type="button" class="button-add-car" data-toggle="modal"
            data-target="#exampleModal" onclick="initialEditCar_default()">เพิ่มรถยนต์</button>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="button-change-name" data-toggle="modal"
          data-target="#nameModal" >แก้ไขข้อมูล</button>
      </div>
  </div>
  <div>

    <!-- </div> -->

    <p class="mt-4">
      <button class="btn btn-danger" type="button" onclick="RedirectQPage()">จองคิว</button>
      <button class="btn btn-danger d-none" type="button" onclick="handleToggle(this)">ประวัติการให้บริการ</button>
      <button class="btn btn-danger d-none" type="button" onclick="handleToggle(this)">โปรโมชั่น</button>
    </p>
    <!-- <div class="mt-4 mb-4"> -->
    <div class="" id="history">
      {% for value in result %}
        <div class="form-box mt-4 mb-4">
          <div class="mb-1">ทะเบียนรถยนต์:{{value.car_register}} </div>
          <div class="mb-1">ยี่ห้อรถยนต์: {{value.brand}}</div>
          <div class="mb-1">รุ่น: {{value.model}}</div>
          <div class="d-flex justify-content-end">
            <button type="button" class="button-add-car-2" data-toggle="modal"
                data-target="#exampleModal" onclick="initialEditCar('{{value.car_register}}')">แก้ไขข้อมูล</button>
        </div>
        </div>
        <div class="form-box mt-4">
          <div class="d-flex justify-content-between">
            <h5><strong>บริการ</strong></h5>
            <h5>{{value.appointed_date}} {{value.appointed_at}}</h5>
          </div>
          <div>ศูนย์บริการสาขา: {{value.branch|default:'ไม่ระบุ'}}</div>
          {% for detail in value.details %}
          <div class="mt-2">
            <p class="mb-1">ชื่ออะไหล่: {{detail.item}}</p>
            <div>
              <span class="mb-1">จำนวน: {{detail.quantity}} ชิ้น</span>
              <span class="mb-1">ราคา: {{detail.price}} บาท</span>
            </div>
          </div>
          {% endfor %}
          <div class="mt-4"><strong>รวมจำนวนเงิน {{value.total_price}} บาท</strong></div>
          <div class="text-end mt-4">บริการครั้งต่อไป {{value.next_service}}</div>
        </div>
      {% endfor %}
  </div>
  <div class="" id="promotion">promotion</div>
</div>

<div class="float-end mt-2">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" aria-label="Previous" onclick="prvPage()">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" aria-label="Next" onclick="nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
{% endblock %}
{% block script %}
<script>
  function handleToggle(e) {
    const e1 = $('#history')
    const e2 = $('#promotion')
    if (e1.css('display') === 'block'){
      e1.css('display', 'none')
      e2.css('display', 'block')
    } else {
      e1.css('display', 'block')
      e2.css('display', 'none')
    }
  }
</script>
<script>
  function changeRegister(e) {
    const carId = e.value
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    var path = window.location.pathname
    window.location.replace(`${path}?user_id=${params['user_id']}&page=${params['page']}&car_id=${carId}&branch_id=${params['branch_id']}`)
  }

  function nextPage() {
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    var path = window.location.pathname;
    var next = "{{next_page}}";
    window.location.replace(`${path}?user_id=${params['user_id']}&page=${next || 1}&car_id=${params['car_id']}&branch_id=${params['branch_id']}`)
  }

  function prvPage() {
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    var path = window.location.pathname
    var prv = "{{prv_page}}";
    window.location.replace(`${path}?user_id=${params['user_id']}&page=${prv || 1}&car_id=${params['car_id']}&branch_id=${params['branch_id']}`)
  }

  function RedirectQPage() {
    const urlParams = new URLSearchParams(window.location.search);
    const user_id = urlParams.get('user_id');
    const branch_id = urlParams.get('branch_id');
    const htmla = window.location.hostname;
    window.location.href = `/line/car/?user_id=${user_id}&branch_id=${branch_id}`
  }

  $(document).ready(function () {
    function initial() {
      const carId = "{{car.id}}";
      $('#selectCar').val(carId)

      $('#promotion').css('display', 'none');
    }

    initial();

  }())
</script>
<script>
  async function addCar() {
    document.getElementById('spinner').style.display = 'flex'
    const urlParams = new URLSearchParams(window.location.search);
    const user_id = urlParams.get('user_id');
    const data = {
      car_register: $('#car_register').val(),
      model: $('#car-series').val(),
      line_id: user_id
    }
    const response = await fetch('/line/addcar/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      redirect: 'follow',
      body: JSON.stringify(data)
    });
    const res = await response.json();
    window.location.reload()
    if (res.ok) {
      document.getElementById('spinner').style.display = 'none'
    } else {
      alert('error')
    }
  }

  async function changeName() {
    document.getElementById('spinner').style.display = 'flex'
    const urlParams = new URLSearchParams(window.location.search);
    const user_id = urlParams.get('user_id');
    const full_name_val = $('#full_name').val();
    if (full_name_val != null && full_name_val != '')
    {
      const data = {
        full_name: full_name_val,
        line_id: user_id
      }
      const response = await fetch('/line/changename/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        redirect: 'follow',
        body: JSON.stringify(data)
      });
      const res = await response.json();
      window.location.reload()
      if (res.ok) {
        document.getElementById('spinner').style.display = 'none'
      } else {
        alert('error')
      }
    }
    else
    {
      document.getElementById('spinner').style.display = 'none'
      alert('กรุณาใส่ ชื่อ-นามสกุล');
    }
   }

  function getCarSeries() {
    const seriesId = $('#car-brand').val()
    if (seriesId) {
      fetch(`/line/car-series?seriesId=${seriesId}`)
        .then(response => response.json())
        .then(data => {
          var html = '';
          for (car of data.series) {
            html += `<option value=${car.id}>${car.name}</option>`
          }
          $('#car-series').html(html)
        });
    } else {
      $('#car-series').html('')
    }
  }

  function getCarSeries_ChangeCar() {
    const seriesId = $('#change-car-brand').val()
    if (seriesId) {
      fetch(`/line/car-series?seriesId=${seriesId}`)
        .then(response => response.json())
        .then(data => {
          var html = '';
          for (car of data.series) {
            html += `<option value=${car.id}>${car.name}</option>`
          }
          $('#change-car-series').html(html)
        });
    } else {
      $('#change-car-series').html('')
    }
  }

  function initialEditCar(p1){
    $("#car_register").prop('disabled', true); 
    $('#car_register').val(p1); 
  }

  function initialEditCar_default(){
    $("#car_register").prop('disabled', false); 
    $('#car_register').val(""); 
  }
</script>
{% endblock %}